body
{
    background-color: lightskyblue;
}

.container
{
    background-color: white; 
}

.backgroundcolor
{
    background-color: lightskyblue;
    border-style: solid;
}

.asd
{
    width: auto;
}
